@import "../../responsive.scss";
.list-agent {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

.loading {
  width: 100%;
  padding: 100px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
