.newPostPage {
  height: 100%;
  display: flex;

  .formContainer {
    flex: 3;
    overflow: scroll;

    .wrapper {
      margin: 30px 50px 100px 0px;

      form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;

        .item {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 5px;

          label {
          }

          input {
            padding: 20px;
            border-radius: 5px;
            border: 1px solid gray;
          }

          textarea {
            padding: 20px;
            border-radius: 5px;
            border: 1px solid gray;
            min-height: 300px;
          }

          select {
            padding: 19px;
          }

          &.description {
            width: 100%;
            height: 320px;

            .quill > .ql-container > .ql-editor {
              height: 200px;
              font-size: 16px;
            }
          }
        }
        .storey {
          display: flex;
          flex-direction: row;
          span {
            width: 49%;
            display: flex;
            gap: 10px;
            align-items: flex-start;
            flex-direction: column;
            input {
              width: 100%;
            }
          }
        }
        .price {
          display: flex;
          flex-direction: row;
          width: 100%;
          gap: 10px;

          span {
            position: relative;
            display: flex;
            gap: 10px;
            flex-direction: column;
            justify-content: flex-end;
            i {
              position: absolute;
              bottom: 18px;
              right: 40px;
              color: #888;
            }
            input {
              width: 100%;
            }
            select {
              width: 90px;
            }
          }
          .price-span {
            width: 100%;
          }
        }
        .sendButton {
          width: 100%;
          border-radius: 5px;
          border: none;
          background-color: teal;
          color: white;
          font-weight: bold;
          cursor: pointer;
          padding: 20px;
          &:nth-child(1) {
            background-color: rgb(28, 28, 28);
          }
          &:nth-child(2) {
            background-color: rgb(19, 76, 162);
          }
        }
        .placeList {
          display: flex;
          gap: 20px;
          .place-list {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            span {
              padding: 5px 10px;
              border: 1px solid #fece51;
              border-radius: 20px;
              cursor: pointer;
            }
            .active {
              background-color: #fece51;
            }
          }
        }
        .add-info {
          display: flex;
          gap: 10px;
          span {
            display: flex;
            gap: 20px;
            input {
              height: 15px;
              width: 40%;
            }
          }
          .add-option {
            width: 100px;
            padding: 5px;
            background-color: #fece51;
            border: none;
            cursor: pointer;
            border-radius: 5px;
          }
          .delete-option {
            width: 100px;
            padding: 5px;
            background-color: transparent;
            border: none;
            color: red;
            cursor: pointer;
            border-radius: 5px;
          }
        }
        .flex-btns {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 10px;
        }
      }
    }
  }

  .sideContainer {
    flex: 2;
    background-color: #fcf5f3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;

    img {
      width: 50%;
      height: 180px;
      object-fit: cover;
      border-radius: 5px;
    }
  }
}
