@import "../../responsive.scss";

.hList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  margin: 60px 0;
  margin-bottom: 40px;
  @include lg {
    gap: 20px;
    justify-content: space-around;
  }
}

.loading {
  width: 100%;
  padding: 100px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
