@import "../../responsive.scss";

.ads-list-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .ads-new {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    button {
      padding: 12px 24px;
      background-color: #fece51;
      cursor: pointer;
      border: none;
    }
  }
  .filter-tools {
    //
  }
  .ads-list {
    display: flex;
    flex-direction: column;
    max-height: 70vh;
    overflow-y: scroll;
    .ads-item {
      display: flex;
      gap: 10px;
      justify-content: space-between;
      align-items: center;
      padding: 15px 5px;
      cursor: pointer;
      border: 0.5px solid #dedede;
      &:hover {
        background-color: #eeeeee;
      }
      span {
        width: 18%;
        // border: 1px solid red;
        &:first-child {
          width: 30px;
          //   border: 1px solid red;
        }
        &:last-child {
          width: 70px;
        }
      }
      .icons {
        display: flex;
        color: rgb(235, 59, 59);
        cursor: pointer;
        span {
          padding: 8px;
          &:hover {
            outline: 1px solid black;
          }
        }
      }
    }
  }
}

.kanban-content {
  max-width: 1000px;
  max-height: 690px;
  height: 690px;
  overflow: hidden;
  flex: 1;
}

.kanban-modal {
  .field {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    input {
      padding: 5px;
      border: 1px solid #dddd;
      width: 100%;
      outline: none;
      &:focus {
        border: 1px solid #fece51;
      }
    }
  }
  .buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    .cancel-btn {
      background-color: #051d42;
      color: #fff;
    }
    .delete-btn {
      background-color: rgb(216, 72, 53);
      color: #fff;
    }
    button {
      padding: 12px 24px;
      background-color: #fece51;
      cursor: pointer;
      border: none;
    }
  }
}
