.filter {
  display: flex;
  flex-direction: column;
  gap: 10px;

  h1 {
    font-weight: 300;
    font-size: 24px;
  }

  .item {
    display: flex;
    flex-direction: column;
    gap: 2px;

    label {
      font-size: 10px;
    }

    input,
    select {
      width: 100px;
      padding: 10px;
      border: 1px solid #e0e0e0;
      border-radius: 5px;
      font-size: 14px;
    }
  }

  .top {
    display: flex;
    gap: 10px;
    width: 100%;
    .item {
      width: 100%;
    }
    .type {
      width: 300px;
    }
    .rooms {
      width: 100px;
    }
    select {
      width: 100%;
    }
    input {
      width: 100%;
    }
  }
  .bottom {
    display: flex;
    justify-content: flex-start !important;
    .item {
      position: relative;
      #areaMin {
        width: 70px;
      }
      #areaMax {
        width: 70px;
      }
      .area-m2 {
        position: absolute;
        right: -10px;
        top: 20px;
      }
    }
    .type {
      width: 110px;
      select {
        width: 100%;
      }
    }
    .furniture {
      width: 22% !important;
      select {
        width: 100%;
      }
    }
    .repairment {
      width: 28% !important;
      select {
        width: 100%;
      }
    }
    .furniture {
      width: 110px;
      select {
        width: 100%;
      }
    }
    .sort {
      width: 400px !important;
      select {
        width: 100%;
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;

    button {
      width: 100px;
      padding: 10px;
      border: none;
      cursor: pointer;
      background-color: #fece51;

      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}
