.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
  h4 {
    margin-left: 10px;
  }
}

.username {
  display: flex;
  flex-direction: row;
  padding: 0px 10px;
  .igLogo {
    width: 20px;
    height: 20px;
  }
  p {
    color: #696969;
    font-weight: bold;
    margin-left: 5px;
    line-height: 18px;
    text-align: center;
    
  }
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50px;
}

.info {
  display: flex;
  flex-direction: column;
  .followers {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-top: 10px;
    p {
      font-size: 13px;
      text-transform: lowercase;
      margin-right: 10px;
      b{
        margin-right: 2px;
      }
    }
  }
}
