.card {
  position: relative;
  border-radius: 6px 6px 0px 0px;
  width: 352px;
  height: 200px;
  img {
    width: 352px;
    height: 200px;
    object-fit: cover;
    border-radius: 6px 6px 0px 0px;
  }
}
