.hCard {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: white;
  border: 1.5px solid #f0effb;
  overflow: visible;
  position: relative;
  transition: ease-in-out 0.25s;
  cursor: pointer;

  .badge {
    position: absolute;
    transform: translate(-8px, 184px);
    display: flex;
    align-items: center;
    img {
      width: 113px;
      height: 40px;
    }

    .icon {
      width: 16px;
      height: 16px;
      margin-left: -90px;
      margin-bottom: 8px;
    }

    p {
      color: white;
      font-size: 12px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      margin-bottom: 8px;
      font-weight: bold;
    }
  }

  .textContainer {
    padding: 24px;
    margin-top: 10px;

    h2 {
      color: #7065f0;
      font-weight: 900;
      line-height: 150%;
      letter-spacing: -1px;
      margin-bottom: 4px;
      span {
        line-height: 150%;
        color: #000929;
        opacity: 0.5;
        font-weight: 400;
      }
    }

    h1 {
      color: #000929;
      line-height: 150%;
      letter-spacing: -1%;
    }

    .address {
      color: #000929;
      opacity: 0.5;
      margin-bottom: 16px;
    }

    .line {
      background-color: #f0effb;
      width: 100%;
      height: 1.5px;
      margin-bottom: 16px;
    }

    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .item {
        display: flex;
        align-items: center;
        font-size: 14px;
        gap: 4px;
      }
    }

    img {
      width: 20px;
      height: 20px;
    }
  }
}

.hCard:hover {
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.2);
}
