@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  overflow: hidden;
}
