@import "../../responsive.scss";

.profileUpdatePage {
  height: 100%;
  display: flex;

  .formContainer {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    form {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
      align-items: flex-start;
      width: 100%;
      padding: 20px 0;

      .inputs {
        margin: 20px 0;
        width: 50%;

        @include md {
          width: 100%;
        }
      }

      .item {
        display: flex;
        flex-direction: column;
        gap: 5px;
        :first-child {
          margin-top: 20px;
        }
        :last-child {
          margin-bottom: 20px;
        }

        input {
          padding: 20px;
          border-radius: 5px;
          border: 1px solid gray;
        }
      }

      button {
        padding: 20px;
        border-radius: 5px;
        border: none;
        background-color: teal;
        color: white;
        font-weight: bold;
        cursor: pointer;
        width: 100%;
      }

      @include md {
        flex-direction: column;
        gap: 15px;
      }
    }
  }

  .sideContainer {
    flex: 2;
    background-color: #fcf5f3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;

    .avatar {
      width: 50%;
      object-fit: cover;
    }

    @include md {
      display: none;
    }
  }
}
